@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hero-container {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    padding: 5vh 0 5vh 0;
    background-color: rgb(196, 29, 73);
    box-shadow: 2px 2px 2px 2px #5c5c5c;
    justify-content: center;
}

li {
    text-decoration: none;
    list-style: none;
    margin: 0 2vw 0 2vw;
    font-family: Poppins;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.5s all;
    cursor: pointer;
}

li:hover {
    border-color: black;
}

a {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    justify-content: right;
    border-bottom: 3px solid black;
}

.logo-rasp {
    margin-left: 1vh;
    height: 4vh;
}

h2 {
    font-family: Poppins;
    font-weight: 700;
    margin-left: 1vh;
    line-height: 5vh;
}


.span_1,
.span_2,
.span_3 {
    display: none;
}

nav>div {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 768px) {

    nav {
        display: block;
        text-align: right;
    }

    a {
        text-decoration: none;
        list-style: none;
        display: none;
        justify-content: center;
        margin: 0 auto;
        margin-top: -0.1vh;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    li {
        padding: 2vh;
    }

    .span_1,
    .span_2,
    .span_3 {
        display: flex;
        width: 3.5vh;
        height: 0.3vh;
        margin: 5px 0 5px 0;
        background-color: black;
        right: 2vw;
        border-radius: 1px;
        position: absolute;
    }


    .span_2 {
        margin: 9px 0px;
    }

    .span_1 {
        margin: -11px 0;
    }

    .span_3 {
        margin: -1px 0;
    }

    .remove{
        display: none;
        transition: 0.5s all;
    }
    .show{
        display: flex;
        position: relative;
        transition: 0.5s all;
    }

    #a_Nav3{
        border-bottom: 3px solid black;
    }
}

.logo_link {
    text-decoration: none;
    color: #000;
}